.bar {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: appear-up 0.4s forwards;
    opacity: 0;
}

.logo {
    height: 36px;
}


.content {
    padding: 0 24px 24px 24px;
}

.options {
    display: flex;
    align-items: center;
    gap: 16px;
}

.settings {
    background-color: transparent;
    border: none;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expiration {
    font-size: 12px;
    background: #31512c;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 4px;
    border-radius: 4px;
    font-family: Monospace;
    /*animation: appear-up 0.4s 0.2s forwards;*/
    /*opacity: 0;*/
}

.expiration span {

}

.url {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-top: 4px;
    gap: 8px;
    animation: appear-up 0.4s 0.2s forwards;
    opacity: 0;
    margin-top: 24px;
}

.url span {
    background: rgb(55, 55, 55);
    padding: 2px 6px;
    border-radius: 4px;
    /*font-family: Monospace;*/
}

.success {
    animation: appear 0.4s forwards;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.success img {
    height: 24px;
    width: auto;
    animation: appear-bounce 0.3s 0.2s forwards;
    opacity: 0;
}

.waiting {
    animation: appear-up 0.4s forwards;
    opacity: 0;
}

.section {
    margin-top: 12px;
}

.message {
    /*margin-bottom: 24px;*/
    font-size: 14px;
}


@keyframes appear-up {
    from { transform: translateY(8px); opacity: 0 }
    to { transform: translateY(0); opacity: 1 }
}

@keyframes appear {
    from { transform: scale(0.8); opacity: 0 }
    to { transform: scale(1); opacity: 1 }
}

@keyframes appear-bounce {
    0% { transform: scale(0.8); opacity: 0 }
    75% { transform: scale(1.1); opacity: 1 }
    100% { transform: scale(1); opacity: 1 }
}