.subtitle {
    font-weight: bold;
    animation: appear-up 0.4s 0.2s forwards;
    opacity: 0;
}

.properties {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 8px;
    border-radius: 4px;
    animation: appear-up 0.4s 0.2s forwards;
    opacity: 0;
}

.properties div {
    font-family: Monospace;
    font-size: 12px;
    padding: 4px 6px;
    position: relative;
}

.properties div:nth-child(even) {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #b8b8b8 #090909;
    text-wrap: nowrap;
    transition: 0.2s;
    cursor: pointer;
}

.properties div[data-content^="\""] {
    color: #0fae0f;
}

.bool {
    color: #ae810f;
}

.copy {
    position: fixed;
    right: 16px;
    width: 16px;
    background: black;
    border-radius: 50%;
    height: 16px;
    line-height: 16px;
    text-align: center;
    opacity: 0;
    transition: 0.2s;
}

.properties div:nth-child(even):hover > .copy {
    opacity: 1;
    transition: 0.2s;
}

.properties div:nth-child(even):active {
    opacity: 0.8;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

.interaction {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    animation: appear-up 0.4s 0.2s forwards;
    opacity: 0;
}

.token summary {
    cursor: pointer;
}

.token {
    margin-top: 8px;
    animation: appear-up 0.4s 0.2s forwards;
    opacity: 0;
}

.token-content {
    word-break: break-all;
    padding: 4px;
    font-family: Monospace;
}

.faulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: appear-up 0.4s 0.2s forwards;
    opacity: 0;
    margin-top: 16px;
}

.faulty h1 {
    font-size: 16px;
}

.faulty-details {
    font-size: 14px;
    text-align: center;
    margin-bottom: 16px;
}

@keyframes appear-up {
    from {
        transform: translateY(8px);
        opacity: 0
    }
    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes appear {
    from {
        transform: scale(0.8);
        opacity: 0
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes appear-bounce {
    0% {
        transform: scale(0.8);
        opacity: 0
    }
    75% {
        transform: scale(1.1);
        opacity: 1
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}