@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    background: rgb(48,136,223);
    background: linear-gradient(340deg, rgb(12, 36, 58) 0%, #202020 47%);
    width: 300px;
    color: white;
    box-sizing: border-box;
}

.bar {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: appear-up 0.4s forwards;
    opacity: 0;
}

.bar img {
    height: 36px;
}

.toggle-button {
    background-color: transparent;
    border: none;
}

.toggle-button img {
    width: 48px;
    height: auto;
}

.content {
    padding: 0 24px 24px 24px;
}

.option {
    animation: appear-up 0.4s 0.2s forwards;
    opacity: 0;
}

.option .label {
    font-weight: bold;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
}

.inline-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.option .label img {
    height: 12px;
    width: auto;
}

.bearer {
    margin: 0 !important;
}

.success {
    animation: appear 0.4s forwards;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.success img {
    height: 24px;
    width: auto;
    animation: appear-bounce 0.3s 0.2s forwards;
    opacity: 0;
}

.waiting {
    animation: appear-up 0.4s forwards;
    opacity: 0;
}

.on {
    border: none;
    background-color: #b2de27;
    padding: 8px 16px;
    border-radius: 4px;
}

.off {
    border: none;
    background-color: #de3c27;
    padding: 8px 16px;
    border-radius: 4px;
}

.input {
    border: 1px solid rgba(48, 136, 223, 0.47);
    padding: 8px;
    background-color: transparent;
    border-radius: 4px;
    color: white;
    width: calc(100% - 24px);
    transition: 0.3s;
}

.input:focus {
    outline: none;
    transition: 0.3s;
    border: 1px solid #3088df;
}

.section {
    margin-top: 12px;
}

.message {
    margin-top: 16px;
    font-size: 14px;
}

@keyframes appear-up {
    from { transform: translateY(8px); opacity: 0 }
    to { transform: translateY(0); opacity: 1 }
}

@keyframes appear {
    from { transform: scale(0.8); opacity: 0 }
    to { transform: scale(1); opacity: 1 }
}

@keyframes appear-bounce {
    0% { transform: scale(0.8); opacity: 0 }
    75% { transform: scale(1.1); opacity: 1 }
    100% { transform: scale(1); opacity: 1 }
}